body {
	font-family: 'Raleway', Arial, sans-serif;
	background-color: #333;
	background-image: url(../images/nobImg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #E2E2E1;
}
.columnsGrid {
	float: left !important;
}
.selectedMovie{
	display: none;
}
.nav-filter{
	cursor: pointer;
}
.movie-single{
	cursor: pointer;
}
#backToFilms{
	cursor: pointer;
}
a {
	color: #333;
}
a:hover {
	color: #A2D729;
}
h1, h2, h3, h4 {
	color: #A2D729;
	font-weight: 700;
}
.desktop {
	display: none;
}
.mobile {
	display: block;
}
.logo {
	margin-bottom: 20px;
	margin-top: 20px;
}
#logoBox {
	position: relative;
	background-color: #333;
}
#backToFilms {
	position: absolute;
	top: 14px;
	left: 12px;
	display: none;
	width: 40px;
}
#content {

}
#details {
	display: none;
}
video {
	width: 100%;
	height: auto;
}
.poster {
	height: 200px;
	width: 145px;
	margin-bottom: 20px;
}
.filterBox {
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 500;
	background-color: hsla(0,0%,100%,0.60);
	height: 44px;
	overflow: hidden;
	background-color:hsla(0,0%,100%,0.60);
}
.filterBox h2 {
	font-weight: 700;
	color: #333;
	font-size: 1.5em;
}
.filterCon {
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	color: #333;
	height: 54px;
}
.filterCon ul {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}
.filterCon li {
	display: inline;
	margin-right: 14px;
}
.filterList {
}
.filterList ul {
	margin: 0 auto;
}
footer {
	position: fixed;
	bottom: 0;
}
footer {
	position: fixed;
	bottom: 0;
}
.filmTitle {
	color: #333;
}
.filmYear {
	color: #333;
}
.filmHeaderDesk {
	padding-top: 20px;
	padding-bottom: 20px;
}
.filmTabs {
	text-align: center;
	margin-top: -6px;
}
.filmTabs a {
	color: #FAFFFD;
	font-weight: 700;
	font-size: 1.2em;
}
.filmTabs a:hover {
	color: #A2D729;
}
.filmTabsDesk {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #333;
}
.filmTab {
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #fff;
}
#reviewContent {
	display: none;
}
#reviewFormCon {
	padding-top: 10px;
padding-top: 10px;
}
#filmHeader {
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: hsla(78,69%,50%,0.79);
}
.filmTitle {
	font-size: 1.6em;
	font-weight: 700;
	color: #FAFFFD;
}
.filmYear {
	font-size: 1.2em;
	font-weight: 700;
	color: #FAFFFD;
}
#submit {
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
}
#reviews {
	margin-top: 20px;
	overflow: scroll;
	overflow-x: hidden;
}
.activeNav {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #A2D729;
}
.infoCon {
	background-color: hsla(0,0%,34%,0.85);
}
.shareText {
	margin-top: 60px;
}
#contactForm textarea {
	resize: none;
}
label {
	color: #A2D729;
	font-weight: 700;
}
#submit {
	width: 175px;
	height: 60px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #333;
	border: 1px solid #555555;
	margin-top: 10px;
	color: #A2D729;
	font-size: 14px;
	font-weight: bold;
	transition: all 0.3s ease 0s;
}
#submit:hover {
	background-color: #A2D729;
	border: 1px solid #FAFFFD;
	color: #FAFFFD;
}
.nav-filter {
	cursor: default;
}
.container {
	position: relative;
}

@media screen and (min-width: 64em) {
.desktop {
	display: block;
}
.mobile {
	display: none;
}
.filterBox {
	margin-bottom: 40px;
	/*overflow:auto;*/
	height: auto;
}
.filterCon {
	overflow: auto;
	height: auto;/*	white-space: inherit;*/
}
.filterCon ul {
	display: inline;
	list-style: none;
	margin-left: -14px;
	padding: 0;
}
.filterCon li {
	margin-right: 24px;
}
.filmHeader {
	background-color: hsla(0,0%,100%,0.00);
}
#filmHeader {
	padding-top: 40px;
	padding-bottom: 40px;
}
.filmTabs {
	text-align: center;
	background-color: hsla(0,0%,100%,0.00);
}
.filmInfo {
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 60px;
	padding-right: 60px;
}
.filmPoster {
	width: 100%;
}
.filmTitle {
	margin-top: 20px;
}
#backToFilms {
	top: 22px;
	left: 40px;
	display: none;
	width: 60px;
}
.shareText {
	margin-top: 100px;
}
#reviewFormCon {
padding-top: 40px;
padding-left: 40px;
padding-right: 40px;

}
#reviewForm {
	width: 60%;
	margin: 0 auto;
}
#reviews {
	width: 80%;
	margin: 0 auto;
}
#submit {
	width: 200px;
	height: 40px;
}
}
