body {
	font-family: 'Raleway', Arial, sans-serif;
	background-color: #C5C5C5;
}
.desktop {
	display: none;
}
.mobile {
	display: inline;
}
video {
	width: 100%;
	height: auto;
}
.poster {
	background-color: #000;
}
.filterCon ul {
	display: inline;
	list-style: none;
}
.filterCon li {
	display: inline;
}
 @media screen and (min-width: 64em) {
.desktop {
	display: inline;
}
.mobile {
	display: none;
}
}